:root{
    --primary-color:#F7F5F2;
    --secondary-color:#F56D91;
    --third-color:#cec3b1;
    --default-font:"Poppins", sans-serif;
    --header-font:"Playfair Display", serif
}
@media only screen and (max-width : 992px) {
    h2{
        font-size:44px !important
    }
    p{
        line-height: 1.5rem !important;
    }
}
h1,h2{
    font-family: var(--header-font);
}
p{
    font-family: var(--default-font);
    
}
img{
    border-radius:50%;
    width: 400px;
}
.container h1{
    font-size: 24px;
    opacity: 50%;
    color: var(--secondary-color);
}
.container h2{
    text-transform: capitalize;
    font-size: 45px;
    color: var(--secondary-color);
    
}

.container .btn-work{
    color:white;
    line-height: 27px;
    padding: 15px 30px;
    background-color:  var(--secondary-color);
    border:1px solid var(--secondary-color);
    border-radius: 4px;
}
.container .btn-work:hover{
    border:1px solid var(--secondary-color);
    color: var(--secondary-color);
}