:root{
    --primary-color:#F7F5F2;
    --secondary-color:#F56D91;
    --third-color:#cec3b1;
    --default-font:"Poppins", sans-serif;
    --header-font:"Playfair Display", serif
}
@media only screen and (max-width : 992px) {
    h2{
        font-size:44px !important
    }
    p{
        line-height: 1.5rem !important;
    }
    .profile2{
        margin-left: 0px !important;
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--header-font);
    
}

p{
    font-family: var(--default-font);
    font-size: 16px

}
.nav-item{
    padding: 5px;
}
.active{
    color: var(--secondary-color)!important;
}
.bg-branding{
    background-color: var(--primary-color);
    padding: 90px 20px;
   
    
}

.bg-branding h2{
    text-transform: capitalize;
    font-size: 50px;
    line-height: 60px;
    color: var(--secondary-color);
   
}
.bg-branding h1{
    font-size: 24px;
    opacity: 50%;
    color: var(--secondary-color);
}
    .bg-branding .btn-branding{
    background-color: var(--secondary-color);
    line-height: 27px;
    padding: 15px 30px;
    color: white;
    margin-top: 20px;
    border:1px solid var(--secondary-color);
    border-radius: 4px;
   
}
.bg-branding .btn-branding:hover{
    border:1px solid var(--secondary-color);
    color: var(--secondary-color);
}
.my-story h2{
    color: var(--secondary-color);
    
}
.my-story p{
    line-height: 3rem;
}
.profile{
    width: 500px;
    border: 2px solid var(--primary-color);
}
.my-story .btn-cv{
    color: var(--secondary-color);
    line-height: 27px;
    padding: 15px 30px;
    background-color: white;
    border:1px solid var(--secondary-color);
    border-radius: 4px;
}
.my-story .btn-cv:hover{
    border:1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}
.progress .bg-color{
    background-color: var(--secondary-color);
}
.buttons{
    list-style: none;
}
.buttons li{
    display: inline;
    color: black;
}
.Show-about{
    border: none;
    background-color: white;
    
}
.color-btn{
    color: var(--secondary-color);
   box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.content h3{
    font-size: 22px;
    padding: 10px;
    opacity: 70%;
    margin: 5px;  
}
.content ul li::before{
    content: "\2022";
    color: var(--secondary-color);
    display: inline-block;
    font-weight:bolder;
    width: 1em;
    margin-left: -1px;


}
.content ul li{
    padding: 5px;
}
.content ul{
    margin: 10px;
    padding: 5px;
    list-style:none;
}
[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
.slide .items{
    width: 850px;
   
    border: 2px solid var(--primary-color);
}

.slide .text{
    margin-top: 20px;

}
.slide .text p{
font-size: 14px;
}
.work-inquery{
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 4px;
    margin-top: 90px;
}
.work-inquery .btn-talk{
    background-color: var(--secondary-color);
    line-height: 27px;
    padding: 15px 30px;
    color: white;
    margin-top: 8px;
    border:1px solid var(--secondary-color);
    border-radius: 4px;
   
}
.work-inquery .btn-talk:hover{
    background-color: white;
    line-height: 27px;
    padding: 15px 30px;
    color:var(--secondary-color);
    margin-top: 8px;
    border:1px solid var(--secondary-color);
    border-radius: 4px;
}
.works .chng-font{
    font-family: var(--default-font);
    font-size: 36px;
    color: rgb(163, 151, 151);;
  
}
footer a{
    color: var(--secondary-color);
    text-decoration: none;
}
footer a:hover{
    color: var(--secondary-color);
    
}
.socialmedia i{ 
    border-radius:50%;
    color:white;
    padding:5px;
   
   
    
}
 .socialmedia li{
    display: inline-block;
}
.socialmedia li .t-color{
    background-color:#0b6c9c
}
 .socialmedia li .p-color{
    background-color: #da535b;
}
 .socialmedia li .ti-color{
    background-color:black;
}

/* aboutme styles */
 .about-content h1{
    font-size: 24px;
    opacity: 50%;
    color: var(--secondary-color);
}
 .about-content h2{
    text-transform: capitalize;
    font-size: 50px;
    color: var(--secondary-color);
    
}
.profile2{
    border-radius:40px;
    width: 400px;
    margin-left: 72px;
  
}
 .about-content p{
    font-size: 16px;
    
}

 .about-content .btn-work{
    color:white;
    line-height: 27px;
    padding: 15px 30px;
    background-color:  var(--secondary-color);
    border:1px solid var(--secondary-color);
    border-radius: 4px;
}
 .about-content .btn-work:hover{
    border:1px solid var(--secondary-color);
    color: var(--secondary-color);
}
.border-color{
border: 1px solid var(--secondary-color) ;
}
.border-color h3{
    font-size: 22px;
    padding: 10px;
    opacity: 70%;
    margin: 5px;
}
.border-color ul li::before{
    content: "\2022";
    color: var(--secondary-color);
    display: inline-block;
    font-weight:bolder;
    width: 1em;
    margin-left: -1px;


}
.border-color ul li{
    padding: 5px;
}
.border-color ul{
    margin: 10px;
    padding: 5px;
    list-style:none;
}
.fa-color{
    color: var(--secondary-color);
    opacity: 50%;
}

/* work */
.work-header{
    font-size: 30px;
    color: var(--secondary-color);
margin-top: 25px;
}
.work-content .btn-work 
    {
        color:white;
        line-height: 27px;
        padding: 15px 30px;
        background-color:  var(--secondary-color);
        border:1px solid var(--secondary-color);
        border-radius: 4px;
    }
.work-content .btn-work:hover {
        border:1px solid var(--secondary-color);
        color: var(--secondary-color);
    }
   
    .work-content p{
        opacity: 50%;
    }
.work-inquery-header{
    color: var(--secondary-color);
}
.work-header-color{
opacity: 40%;
}